
/*
    Theme Name: Orinter Casamento
    Description: Mais um tema HSOL
    Author: Marcelo Vieira
    Version: 1.1
    Tags: HTML5, CSS3, JS

    */

    @import url('https://fonts.googleapis.com/css?family=Belleza');
    @import url('https://fonts.googleapis.com/css?family=Neuton:200,300,400,400i,700,800');



/*------------------------------------*\
    STRUCTURE
    \*------------------------------------*/

    :not(i) {
        font-family: "Belleza", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 100;
        -webkit-font-smoothing: antialiased;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #004C6C;
    }

    h2 {
        font-size: 28px;
    }
    p, ul li {
        font-size: 18px;
    }

    footer p {
        font-size: 13px;
    }
    img {
        max-width:100%;
    }

    hr {
        border-color: #cccccc;
    }

    .isDesktop {
        display: block;
    }

    .isMobile {
        display: none;
    }

    .coluna {
        float: left;
        margin-right: 10px;
        width: 23%;
    }

    .center {
        max-width: 1000px;
        width: 100%;
        margin: auto;
        position: relative;
    }

    .box-estilo-doc-or-news {
        margin: 40px 0px;
    }    
    .pointer {
        cursor: pointer;
    }
    .header {
        background: #004c6c;
        width: 100%;
        height: 97px;
        z-index: 999;
        position:absolute;
        top:50px;
    }

    .header-fixo {
        position: fixed;
        width: 100%;
        top:0px;
    }

    .breadcrumb {
        background: none;
        padding: 0px;
    }

    .padding-0 {
        padding: 0px;
    }

    .cor-1 {
        color: #d9b865;
    }

    .cor-2 {
        color: #044c6a;
        font-size: 20px;
        font-weight: 500;
    }

    .cor-3 {
        color: #044c6a;
        font-size: 18px;
        font-weight: 500;
    }

    .bg-1 {
        background: #044c6b;
        color: #fff;
        padding: 3px 5px;
    }
    header a {
        color: #fff;
    }

    .botao-1 {
        background: #d1ad53;
        color: #000;
        font-size: 17px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 700;
        border-radius: 20px;
        -webkit-font-smoothing: antialiased;
    }

    .logo {
        width: 174px;
        height: auto;
        margin: 7px;
    }

    .fadeIn {
        display: block;
        visibility: visible;
        opacity: 1;
        -webkit-animation: fadeIn 1.3s;
        animation: fadeIn 1.3s;
    }

    .loader {
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    a.navbar-brand {
        margin-bottom: 30px;
    }

    .sliders {
        position: relative;
    }

    .slider-2 {
        overflow: inherit;
    }

    .slick-prev {
        left: 10px;
        z-index: 9;
    }

    .slick-next {
        right: 10px;
    }

    .my-slick-prev, .my-slick-next {
        font-size: 27px;
        line-height: 0;
        position: absolute;
        z-index: 998;
        top: 50%;
        display: block;
        width: 35px;
        height: 50px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: #a09595cc;
        border: none;
        outline: none;
        background: #ffffff63;
    }  

    .my-slick-prev {
        left: 10px;
        z-index: 9;
    }

    .slider-2 div {
        text-align: center;
        margin: auto;
    }

    .slider-img-fundo {
        height: 140px;
        width: 170px;
        px; */
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid white;
        background-position: center;
    }

    .slider-2 .my-slick-prev {
        left: -40px;
        margin-top: 0px;
    }

    .slider-2 .my-slick-next {
        right: -38px;
        margin-top: 0px;
    }

    .my-slick-next {
        right: 10px;
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        color: #d9b865
    }

    .dropdown-menu>li>a {
        color: #c1c1c1;
    }

    .dropdown-menu>li>a:after {
        content: ' »';
    }

    .dropdown-menu>li>a:hover {
        color: #fff;
    }


    span.icon-bar {
        border-top: 2px solid #D1AD53;
    }


    button.navbar-toggle {
        margin: 21px 10px;
        margin-bottom: -3px;
    }

    div#myNavbar, div#myNavbar2 {
        float: left;
        position: relative;
    }

    .navbar-nav a {
        text-transform: uppercase;
        font-size: 13px;
    }

    .nav>li>a:focus, .nav>li>a:hover {
        background: no-repeat;
        color: #ffffff;
    }

    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background: no-repeat;
        color: #fff;
    }

    .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
        background: none;
        color: #c1c1c1;
    }


    .navbar-nav>li>.dropdown-menu {
        background: no-repeat;
        box-shadow: none;
        border: none;
    }

    .dropdown-menu>li>a:focus, .dropdown-menu>li.active>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
        background: none;
        color: #fff;
    }


    .navbar-nav>li:hover .dropdown-menu {
        background: #044c6b;
        padding: 4px 5px;
        text-align: left;
        min-width: 177px;
    }

    .navbar-nav>li:hover .dropdown-menu a {
        font-size: 13px;
        text-transform: inherit;
        padding: 4px;
    }

    .sombra-links {
        top: 0px;
        bottom: 0px;
        position: absolute;
        background-image: url(img/menu-gradient.png);
        background-repeat: repeat-x;
        width: 100px;
        height: 100%;
    }


    .navbar-nav {
        padding-top: 20px;
        padding-bottom: 13px;
    }

    .comeca-menu > ul > li a {
        margin-left: 8px;
        margin-right: 6px;
    }

    .comeca-menu {
        padding: 0px;
    }

    .banner-unico-topo, .sliders .sliderImagens {
        width: 100%;
        height: auto;
        display: block;
    }

    .iframe_busca_cruzeiro {
        margin-top: 20px;
        width: 100%;
        height: 1940px;
    }
    .box-img-desc {
        position: relative;
        margin-bottom: 20px;
        width: 313px;
        margin-left: auto;
        height: 210px;
        margin-right: auto;
        background-repeat: no-repeat;
        background-position: center 33%;
        /* background-size: contain; */
    }

    .box-img-desc.logo-bg {
        background-size: 80%;
    }
    .box-img-desc:hover {
        transform: scale(1.1,1.1);
    }
    p.img-desc {
        background: rgba(80, 80, 80, 0.89);
        color: rgb(255, 255, 255);
        padding: 8px 10px;
        font-size: 18px;
        font-weight: 400;
        position: absolute;
        left: 10px;
        right: 10px;
        vertical-align: baseline;
        bottom: 10px;
    }
    footer.footer {
        margin-top: 15px;
        padding: 5px 0px;
        background: #044c6b;
        color: #fff;
    }

    footer a {
        color: #fff;
    }

    footer .redes {
        width: 274px;
        margin: 5px auto;
    }

    .footer a:focus, .footer a:hover {
        color: #fff;
    }

    .footer p.cor-1 {
        font-size: 18px;
    }

    .footer .font-destaque {
        font-size: 25px;
    }

    .redes a:hover {
        text-decoration: none;
    }

    .redes a img {
        margin: 5px 2px;
        display: inline-block;
    }
    .redes-compartilhar a {
        text-decoration: none;
    }
    .redes-compartilhar i {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px;
        border-radius: 50%;
        font-size: 20px;
        margin-left: 3px;
        color: #fff;
    }

    .botoes-dir a {
        font-size: 14px;
        margin: 22px 6px;
        display: inline-block;
        color: #044c6a;
        font-weight: 400;
    }

    .box-diferenciais {
        background: #f3f3f5;
        padding: 2px 10px;
        display: block;
        margin-bottom: 10px;
    }

    .box-diferenciais h2 {
        color: #000;
        margin-top: 4px;
        margin-bottom: 0px;
        font-weight: 300;
        font-size: 23px;
    }

    .box-elems-paginacao {
        position: relative;
    }

    .btn-pag {
        background-color: #eee; */
        background-size: contain;
        position: absolute;
        width: 40px;
        height: 118px;
        z-index: 99;
        cursor: pointer;
        top: 36%;
        text-align: center;
        line-height: 68px;
        opacity: 0.5;
        color: transparent;
        filter: alpha(opacity=50);
    }

    .btn-pag:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .btn-pag.btn-page-prev {
        left: -57px;
        background: url(img/seta-esquerda.png) no-repeat;
    }

    .btn-pag.btn-page-next {
        right: -51px;
        background: url(img/seta-direita.png) no-repeat;
        background-position: 0px -10px;
    }

    .campo_endereco h2 {
        font-size: 21px;
        border-bottom: 3px solid #d2ad56;
        padding-bottom: 5px;
        color: ##044c6a;
    }

    .campo_endereco p {
        font-size: 15px;
        background: #f3f3f5;
        padding: 15px;
        color: #545456;
    }

    .campo_endereco p a {
        color: #545456;
    }

    .formulario_contato {
        padding: 20px;
        margin-left: -20px;
    }

    .formulario_contato .wpcf7-submit {
        background: #d1ad53;
        color: #044c6a;
        font-size: 17px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 700;
        border: none;
        text-transform: uppercase;
        border-radius: 9px;
        -webkit-font-smoothing: antialiased;
    }

    .formulario_contato label {
        color: #044c6a;
        font-size: 20px;
    }

    .formulario_contato .form-control {
        background: #f3f3f5;
        box-shadow: none;
        border-radius: 0px;
        border: navajowhite;
    }

    .checkbox {
        display: inline-block !important;
        margin-right: 15px;
    }

    .setas select {
       -webkit-appearance: none;  
       -moz-appearance: none; 
       appearance: none; 
       background: #f3f3f5 url(img/seta-baixo.png) no-repeat right !important;  
       width: 250px  !important; 
       background-size: contain !important;
       height:30px  !important; 
       cursor: pointer;
       border:1px solid #ddd !important;
   }  

   .paginacao-estilo1 {
    text-align: right;
    margin-top: -20px;
}

.paginacao-estilo1 .page-numbers {
    background: #f5f5f5;
    padding: 3px 7px;
    font-size: 20px;
    color: #7b7b7b;
    padding: 9px 11px;
    text-decoration: none;
    margin-left: 5px;
    float: left;
    font-size: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.paginacao-estilo1 .prev.page-numbers, .paginacao-estilo1 .next.page-numbers {
    display: none;
}

.paginacao-estilo1 .page-numbers.current {
    background: #3389d7;
    color: #fff;
}

.paginacao-estilo1 .page-numbers:hover {
    background: #3389d7;
    color: #fff;
}

.lista-navios li {
    margin-right: 36px;
    float: left;
    width: 28%;
}

.lista-navios{
    float: left;
    padding-left: 20px;
    max-width: 72%;
}

.box-frota h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
}

.box-destinos h2 {
    margin-top: 0px;
    font-weight: 300;
    margin-bottom: 0px;
}
hr {
    width: 100%;
}

.box-elems-paginacao.box-estilo-doc-or-news p.img-desc {
    background-color: #f3f3f3;
    color: #111111;
    height: 76px;
    bottom: initial;
    overflow: hidden;
    top: 74%;
    width: 100%;
    font-size: 16px;
    left: 0px;
}

.box-elems-paginacao.box-estilo-doc-or-news .box-img-desc.logo-bg {
    height: 207px;
    width: 220px;
    background-position: top center;
    background-size: 100%;
    margin-bottom: 35px;
}
.box-elems-paginacao.box-estilo-doc-or-news .box-img-desc:hover {
    transform: none;
}

.box-elems-paginacao.box-estilo-doc-or-news .box-img-desc:hover p.img-desc {
    background: #3389d7;
    color: #fff;
}

.over-img {
    width: 100%;
    position: relative;
    display: none;
    top: 0px;
    height: 100%;
    background: #00000075 url(http://exoticos.orinter.com.br/wp-content/themes/tourpackage/images/image-overlay-link.png) no-repeat 50% 41%;
}

.box-elems-paginacao.box-estilo-doc-or-news .box-img-desc:hover .over-img {
    display: block;
}


.lista-navios li {
    margin-right: 36px;
    float: left;
    width: 28%;
}
.lista-alinhada {
    width: 80%;
    margin: 10px auto 35px auto;
}

.lista-alinhada2 {
    width: 100%;
    margin: 10px auto auto auto;
}

.lista-navios{
    float: left;
    padding-left: 20px;
    max-width: 72%;
}

.box-frota h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
}

.box-destinos h2 {
    margin-top: 0px;
    font-weight: 300;
    margin-bottom: 0px;
}
hr {
    width: 100%;
}

.lista-alinhada ul > li {
    min-width: 24.3%;
    padding: 0px;
    list-style: none;
    display: inline-grid;
    margin-bottom: 20px;
}

.lista-alinhada > ul > li > a {
    color: #004c6c;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.lista-alinhada ul {
    text-align: left;
    padding: 0px;
    width: 100%;
}

.lista-alinhada ul.children li {
    width: 100%;
    margin-bottom: 0px;
    min-width: 48px;
}


.lista-alinhada ul li a{
    color: #696969;
}

.lista-alinhada ul  a:before{
    content: '. ';
}


.title_lista {
    color: #004c6c;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.form-solicitar > h2 {
    color: #044c6a;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-top: 3px solid #034c6c;
    padding-top: 20px;
}

.panel-heading.initenable .btn-mostrar {
    display: none;
}

.btn-ocultar {
    display: none;
}

.panel-heading.initenable .btn-ocultar {
    display:block;
}



div#accordion .panel-default>.panel-heading {
    background: #034c6c;
    color: #fff;
}

div#accordion .collapsed .btn-ocultar {
    display: none;
}

div#accordion div[aria-expanded="true"] .btn-mostrar {
    display: none;
}


div#accordion div[aria-expanded="true"] .btn-ocultar {
    display: block;
}


div#accordion div[aria-expanded="false"] .btn-mostrar {
    display: block;
}

div#accordion .panel {
    border: none;
    box-shadow: none;
}


div#accordion .panel-body {
    border: none;
    box-shadow: none;
    padding: 12px 0px;
}

div#accordion .panel-collapse {
    box-shadow: none;
}

a.links-results {
    display: block;
    margin-left: 20px;
    padding: 19px 20px;
    min-height: 116px;
    height: 100px;
}

a.links-results h3 {
    color: #3388d7;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

a.links-results p {
    color: #9b9b9b;
    font-weight: 700;
    font-size: 11px;
}


.navbar-nav a {
    text-transform: uppercase;
    font-size: 13px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: no-repeat;
    color: #ffffff;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: no-repeat;
    color: #fff;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background: none;
    color: #c1c1c1;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li.active>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background: none;
    color: #fff;
}


.dropdown-menu {
    display:none;
    position: absolute !important;
    top: 43px;
}


.navbar-nav>li:hover > ul {
    display:block;
}

.navbar-nav>li>.dropdown-menu {
    position: relative;
}



.nav-item:hover > .dropdown-menu {
    display:block;
}

.navbar-nav > li > ul .dropdown-menu {
    left: 99%;
    top: -6px;
    box-shadow: none;
    border: none;
}



.sombra-links {
    top: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url(img/menu-gradient.png);
    background-repeat: repeat-x;
    width: 100px;
    height: 100%;
}


.navbar-nav {
    padding-top: 20px;
    padding-bottom: 13px;
}

.dropdown-menu>li>a {
    border-top: 1px solid rgb(193, 193, 193);
}


.header li.current-menu-item .dropdown-menu>li>a {
    color: #d9b865;
    border-top: 1px solid #d9b865;
}

.dropdown-menu li:hover >a {
    border-color: rgb(242, 242, 242);
}

.header li.current-menu-item > a, header li.current-menu-ancestor > a{
    color: #d9b865 !important;
}

button.slick-arrow {
    background-color: #ccc !important;
    opacity: 0.5;
    filter: alpha(opacity=50) !important;
    width: 32px;
    height: 76px;
}

button.slick-arrow:hover {
    opacity: 1;
}

button.my-slick-prev.slick-arrow {
    left: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

button.my-slick-next.slick-arrow {
    right: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


/* -------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (max-width:768px) {

    .isDesktop {
        display: none;
    }

    .isMobile {
        display: block;
    }

    .padding-0 {
        padding: 0px 15px;
    }

    .bg-1 {
        display: block;
    }

    .coluna {
        width: 100%;
    }

    div#myNavbar{
        margin-top: 16px;
        background: #044c6b;
        float: none;
        overflow: hidden;
        border-bottom: 1px solid #fff;
    }
    ul#menu-header-menu {
        height: auto;
        width: 100%;
    }

    .sombra-links {
        display: none; 
    }
    ul.dropdown-menu {
        position: relative;
        width: 96%;
        margin: 14px;
    }

    .menu-mobile i {
        color: #D1AD53;
        font-size: 31px;
        cursor: pointer;
    }

    .header {
        position: fixed;
        top: 0px;
    }



    button[aria-expanded="true"] .linha1{
        -webkit-transform: rotate(-45deg) translate(-1px, 4px);
        transform: rotate(-45deg) translate(-1px, 4px);
    }

    button[aria-expanded="true"] .linha2 {
        display: none !important;
    }

    button[aria-expanded="true"] .linha3 {
        -webkit-transform: rotate(45deg) translate(0px, -3px);
        transform: rotate(45deg) translate(0px, -3px);
    }
    ul#menu-menu {
        height: auto;
        overflow: hidden;
    }

    .sliders {
        margin-top: 0px;
    }
    .botao-1 {
        font-size: 17px;
    }

    .cor-2 {
        font-size: 15px;
    }

    .slider-2 .my-slick-prev {
        left: 10px;
    }

    .slider-2 .my-slick-next {
        right: 10px;
    }
    main {
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner-unico-topo, .margin-top-header {
        margin-top: 97px;
    }

    .alignleft {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .lista-navios {
        max-width: 100%;
    }

    .lista-navios li {
        width: 100%;
        padding: 0px;
    }

    .btn-pag {
        display:none;
    }

    .lista-alinhada ul > li {
        width: 46%;
    }

    .lista-alinhada {
        width: 92%;
    }

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
    \*------------------------------------*/

    ::selection {
        background:#04A4CC;
        color:#FFF;
        text-shadow:none;
    }
    ::-webkit-selection {
        background:#04A4CC;
        color:#FFF;
        text-shadow:none;
    }
    ::-moz-selection {
        background:#04A4CC;
        color:#FFF;
        text-shadow:none;
    }

    /*wordpress core*/


/*------------------------------------*\
    WORDPRESS CORE
    \*------------------------------------*/

    .alignnone {
        margin:5px 20px 20px 0;
    }
    .aligncenter,
    div.aligncenter {
        display:block;
        margin:5px auto 5px auto;
    }
    .alignright {
        float:right;
        margin:5px 0 20px 20px;
    }
    .alignleft {
        float:left;
        margin:5px 20px 20px 0;
    }
    a img.alignright {
        float:right;
        margin:5px 0 20px 20px;
    }
    a img.alignnone {
        margin:5px 20px 20px 0;
    }
    a img.alignleft {
        float:left;
        margin:5px 20px 20px 0;
    }
    a img.aligncenter {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    .wp-caption {
        background:#FFF;
        border:1px solid #F0F0F0;
        max-width:96%;
        padding:5px 3px 10px;
        text-align:center;
    }
    .wp-caption.alignnone {
        margin:5px 20px 20px 0;
    }
    .wp-caption.alignleft {
        margin:5px 20px 20px 0;
    }
    .wp-caption.alignright {
        margin:5px 0 20px 20px;
    }
    .wp-caption img {
        border:0 none;
        height:auto;
        margin:0;
        max-width:98.5%;
        padding:0;
        width:auto;
    }
    .wp-caption .wp-caption-text,
    .gallery-caption {
        font-size:11px;
        line-height:17px;
        margin:0;
        padding:0 4px 5px;
    }
    .sticky {

    }
    .bypostauthor {

    }

/*------------------------------------*\
    PRINT
    \*------------------------------------*/

    @media print {
            /*        
            .no-print, .banner-unico-topo, .sliders, .botoes-dir, .form-group, .btn {
            display: none;
            }*/
            img.banner-unico-topo {
                display: none;
            }

            .no-print, .botoes-dir {
                display: none;
            }

            .form-solicitar {
                display:none;
            }

            .collapse {
                display: block !important;
                float: left;
                height: auto !important;
            }

            div#accordion .panel-default>.panel-heading {
                float: left;
                width: 100%;
            }

            div#accordion .panel {
                float: left;
                width: 100%;
            }

            .btn-mostrar, .btn-ocultar {
                display: none !important;
            }


            * {
              background:transparent !important;
              color:#000 !important;
              box-shadow:none !important;
              text-shadow:none !important;
          }
          a,
          a:visited {
              text-decoration:underline;
          }
          a[href]:after {
              content:" (" attr(href) ")";
          }
          abbr[title]:after {
              content:" (" attr(title) ")";
          }
          .ir a:after,
          a[href^="javascript:"]:after,
          a[href^="#"]:after {
              content:"";
          }
          pre,blockquote {
              border:1px solid #999;
              page-break-inside:avoid;
          }
          thead {
              display:table-header-group;
          }
          tr,img {
              page-break-inside:avoid;
          }
          img {
              max-width:100% !important;
          }
          @page {
              margin:0.5cm;
          }
          p,
          h2,
          h3 {
              orphans:3;
              widows:3;
          }
          h2,
          h3 {
              page-break-after:avoid;
          }

          footer {
            display: none;
        }
    }